@model IEnumerable<StudentEntities.Entities.Student>

@{
    ViewData["Title"] = "Candidates";
}

<h1>Candidates</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FathersName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FathersName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            
        </tr>
}
    </tbody>
</table>


<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (ViewBag.PageNo > 1)
        {
<li class="page-item">@Html.ActionLink("Previous", "Candidates", new { id = ViewBag.PageNo - 1 }, new { @class = "page-link" })</li>            }
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
<li class="page-item">@Html.ActionLink("" + i, "Candidates", new { id = i }, new { @class = "page-link" })</li>            }
        @if (ViewBag.PageNo != ViewBag.TotalPages)
        {
<li class="page-item">@Html.ActionLink("Next", "Candidates", new { id = ViewBag.PageNo + 1 }, new { @class = "page-link" })</li>            }
    </ul>
</nav>