@model StudentEntities.Entities.Student

@{
    ViewData["Title"] = "UpdateStudent";
}

<style>
    .makewide {
        height: 37px;
        width: 350px;
        margin-left: -16px;
        border: 1px solid #ced4da;
    }
</style>

@{
    var tempList = new List<SelectListItem>();
    int index = 1;


    foreach (var item in ViewBag.collegeNames)
    {
        tempList.Add(new SelectListItem() { Text = item, Value = index.ToString() });
        index++;
    }
    var items = tempList;


    var tempList2 = new List<SelectListItem>();
    int index2 = 1;


    foreach (var item in ViewBag.teacherNames)
    {
        tempList2.Add(new SelectListItem() { Text = item, Value = index2.ToString() });
        index2++;
    }
    var items2 = tempList2;

}



<h1>UpdateStudent</h1>
<p>
    <a asp-controller="Home" asp-action="Index">Back</a>
</p>
<h4>Student</h4>
<hr />

<style>
.hidden{display:none;}
    </style>

<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateStudent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group hidden">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentCity" class="control-label"></label>
                <input asp-for="StudentCity" class="form-control" />
                <span asp-validation-for="StudentCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentState" class="control-label"></label>
                <input asp-for="StudentState" class="form-control" />
                <span asp-validation-for="StudentState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FathersName" class="control-label"></label>
                <input asp-for="FathersName" class="form-control" />
                <span asp-validation-for="FathersName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TeacherId)
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.TeacherId, items2, "Select Designation", htmlAttributes: new { @class = "makewide" })
                    @Html.ValidationMessageFor(model => model.TeacherId, "", new { id = "Desig_ErrorMessage", @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CollegeId)
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CollegeId, items, "Select Designation", htmlAttributes: new { @class = "makewide" })
                    @Html.ValidationMessageFor(model => model.CollegeId, "", new { id = "Desig_ErrorMessage", @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
